---
import Layout from "../layouts/Layout.astro";

const response = await fetch(
  "https://api.artic.edu/api/v1/artworks?page=1&limit=10",
);
// fetch haalt data op
const data = await response.json();
// await  wacht tot de data binnen is
// response.json()  zet de response om naar een JavaScript object
const artworks = data.data || [];
// data.data → daar zitten de kunstwerken in
// || [] → fallback: als er geen data is, gebruik een lege array om errors te voorkomen
---

<meta charset="UTF-8" />

<h1>Digital Art Gallery</h1>
<p>Discover art. Save inspiration. Create your own.</p>

<a href="/detail">Create Artwork</a>
<a href="/favorites">Go to Favorites</a>

<ul id="favorites-list">
  {
    artworks.map((art) => (
      // Maakt een lijst van alle kunstwerken

      <li>
        <a
          href={`https://www.artic.edu/artworks/${art.id}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          {art.image_id && (
            <img
              src={`https://www.artic.edu/iiif/2/${art.image_id}/full/300,/0/default.jpg`}
              alt={art.title}
            />
          )}
        </a>

        <button
          class="fav-btn"
          data-id={art.id}
          data-title={art.title}
          data-image={art.image_id}
        ></button>
      </li>
    ))
  }
</ul>





<script>
  // Haalt opgeslagen favorieten op uit localStorage, ls er nog niets is opgeslagen, wordt een lege array gebruikt
  let favorites = JSON.parse(localStorage.getItem("favorites") || "[]");

  // Pakt alle favorieten knoppen
  const buttons = document.querySelectorAll(".fav-btn");

  // Past tekst aan, aan de hand van de status
  function updateButton(btn, isFav) {
    if (isFav) {
      btn.textContent = "❤️ Saved";
    } else {
      btn.textContent = "🤍 Favorite";
    }
  }

  // Loopt door alle favorieten knoppen heen
  buttons.forEach((btn) => {
    // Haalt data op (data-id, data-title, data-image)
    const id = btn.dataset.id;
    const title = btn.dataset.title;
    const image = btn.dataset.image;

    // Checkt of item al in favorieten zit
    const exists = favorites.some((item) => item.id === id);

    // Zet de juiste tekst bij de knop, afhankelijk van of het item al in favorieten zit
    updateButton(btn, exists);

    // Als er op de knop wordt geklikt:
    btn.addEventListener("click", () => {
      // Controleren of het item al bestaat
      const exists = favorites.some((item) => item.id === id);

      if (!exists) {
        // Voegt item toe aan favorieten
        favorites.push({ id, title, image });

        // Update tekst naar Saved
        updateButton(btn, true);
      } else {
        // Verwijder item uit favorieten
        favorites = favorites.filter((item) => item.id !== id);

        // Update tekst naar Favorite
        updateButton(btn, false);
      }

      // Slaat de nieuwe favorietenlijst op in localStorage
      localStorage.setItem("favorites", JSON.stringify(favorites));

      // voegt de CSS-class "active" toe aan de knop (voor mijn animatie in css)
      btn.classList.add("active");

      // Verwijder de active class na 200 milliseconden
      setTimeout(() => {
        btn.classList.remove("active");
      }, 200);
    });
  });
</script>





<style>
  @font-face {
    font-family: "Playfair";
    src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "Red";
    src: url("/fonts/Redhatdisplay-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "Script";
    src: url("/fonts/ImperialScript-Regular.ttf");
  }

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Red";
    background-color: #fff9ed;
    color: #383838;

    text-align: center;
  }

  a {
    color: #488b52;
    &:hover {
      color: #ff7171;
      transform: scale(1.1);
    }
  }

  p {
    font-size: 1.2em;
    text-align: center;
    margin-top: -1em;
    margin-bottom: 2em;
  }

  h1 {
    font-family: "Playfair", serif;
    display: flex;
    justify-self: center;
    font-size: 2.5em;
    color: rgb(72, 139, 82);
  }

  ul {
    font-size: 0.8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    list-style-type: none;
    padding: 2em;
    justify-items: center;
  }

  li {
    /* background-color: rgb(221, 221, 221); */
    border: none;
    padding: 10px;

    &:hover {
      transform: scale(1.05);
      transition: all 0.2s ease;
    }
  }

  img {
    height: 20%;
    max-width: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  button {
    display: flex;
    justify-self: center;
    padding: 1em;
    border-radius: 1em;
    background-color: #5fa069;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    color: white;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(201, 124, 93, 0.2);
  }

  a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    transition: all 0.2s ease;
    text-align: center;
  }

  .fav-btn {
    transition: transform 0.2s ease;
  }

  .fav-btn.active {
    transform: scale(1.3);
  }
</style>
